/* Colors */
:root {
  --eco-blue-primary: #0624e0;
  --eco-blue-dark: #04138a;
  --eco-red-danger: #da1e28;
  --eco-yellow-warning: #ff9900;
  --eco-green-success: #59c785;
  --eco-teal-accent: #67dee5;
  --eco-orange-accent: #ff9900;
  --eco-off-black: #222222;
  --eco-dark-gray: #727272;
  --eco-medium-gray: #b7b7b7;
  --eco-light-gray: #d9d9d9;
}
