@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-Bold.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-Semibold.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-Light.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-BoldItalic.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-Medium.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-LightItalic.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-MediumItalic.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("fonts/FoundersGroteskMono-Bold.woff2") format("woff2"),
    url("fonts/FoundersGroteskMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("fonts/FoundersGroteskMono-Regular.woff2") format("woff2"),
    url("fonts/FoundersGroteskMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Condensed";
  src: url("fonts/FoundersGroteskCond-Med.woff2") format("woff2"),
    url("fonts/FoundersGroteskCond-Med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Condensed";
  src: url("fonts/FoundersGroteskCond-Bold.woff2") format("woff2"),
    url("fonts/FoundersGroteskCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Condensed";
  src: url("fonts/FoundersGroteskCond-Reg.woff2") format("woff2"),
    url("fonts/FoundersGroteskCond-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("fonts/FoundersGroteskMono-Semibold.woff2") format("woff2"),
    url("fonts/FoundersGroteskMono-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Condensed";
  src: url("fonts/FoundersGroteskCond-Lt.woff2") format("woff2"),
    url("fonts/FoundersGroteskCond-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Condensed";
  src: url("fonts/FoundersGroteskCond-SmBd.woff2") format("woff2"),
    url("fonts/FoundersGroteskCond-SmBd.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("fonts/FoundersGroteskMono-Medium.woff2") format("woff2"),
    url("fonts/FoundersGroteskMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("fonts/FoundersGroteskMono-Light.woff2") format("woff2"),
    url("fonts/FoundersGroteskMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("fonts/FoundersGrotesk-SemiboldIt.woff2") format("woff2"),
    url("fonts/FoundersGrotesk-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-Semibold.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-Medium.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-Regular.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-MediumIt.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-BoldItalic.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FoundersGroteskText";
  src: url("fonts/FoundersGroteskText-Bold.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-RegularIt.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-Light.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-LightIt.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("fonts/FoundersGroteskText-SemiboldIt.woff2") format("woff2"),
    url("fonts/FoundersGroteskText-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Founders Grotesk";
}

.rc-tooltip {
  background: none;
}

/* Removing up and down arrows on inputs
 * https://khaalipaper.com/html/remove-arrows-from-input-type-number.php */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
